html, body, #body_container{
    height: 100%;
    width: 100%;
}

#profile_header {
    height: 400px;
    width: 100%;
}

#background_image{
    height: 30%;
    width: 100%;
}

#user_info{
    height: 70%;
    width: 100%;
}

#profile_header svg{ 
    position: absolute;
    right: 1%;
    height: 75px;
    width: 75px;
}

.user_images{
    height: 150px;
    width: auto;
}

#user_images{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.username{
}

#username{
    font-size: 30px;
    font-weight: bold;
    border-radius: 25px;
    background: rgba(255, 158, 0);
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
    width: fit-content;
}

#user_number p{
    font-size: 16px;
}

.user_description{
    height: fit-content;
}

#user_description{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1000px;
    word-wrap: break-word;
    font-size: 20px;
    line-height: normal;
    font-weight: 550;
}
