@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Inter');

body{
    background-color: #3C096C;
}

h1{
    color: #FFFFFF;
    font-family: 'Electrolize';
    font-weight: normal;
    font-size: 65px;
    margin: 0px 400px;
    border-color: red;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

h2{
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight:lighter;
    font-size: 25px;
    text-align: center;
    

    border-color: red;
    border-style: solid
}

li {
    list-style: none;
}

fieldset > ul > li{
    margin-bottom: 10px;
}

ul > li > input {
    box-sizing: border-box;    
    width: 279px;
    height: 25px;

    background: #F8F7FF;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    outline: none;
}

fieldset> ul> li > label, fieldset> ul> li > input {
    display:block;
}

fieldset{
    border: none;
    background-color: #7B2CBF;
} 

fieldset > fieldset{
    border: none;
    background-color: #7B2CBF;
}

fieldset > ul > li > label, fieldset > label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #E0E0E0;
    margin-bottom: 3px;
    margin-left: 3px;
}



/* Access_button */
input.buttonOrange, a.buttonOrange{
    box-sizing: border-box;
    position: relative;
    width: 147px;
    height: 45px;
    left: 206.99px;
    top: 239px;

    background: #FF9E00;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    position: relative;
    width: 134px;
    height: 39px;
    left: 6px;
    top: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    transition: background-color 0.5s ease;
    color: #000000;
}

input.buttonOrange:hover, a.buttonOrange:hover{
    background-color: #FFC000;
}

a.buttonViolet{
box-sizing: border-box;
    position: relative;
    width: 147px;
    height: 45px;
    left: 206.99px;
    top: 239px;

    background: #9D4EDD;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    position: relative;
    width: 134px;
    height: 39px;
    left: 6px;
    top: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    transition: background-color 0.5s ease;
    color: #000000;
    margin-top: 8px;
}


a.buttonViolet:hover{
    background-color: #B86BFF;
}

/* Nascondi la checkbox originale */
input[type="checkbox"] {
    display: none;
}

/* Crea un nuovo "bottone" per la checkbox */
input[type="checkbox"] + label {
    padding: 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    transition: background-color 0.5s ease;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 10px;
}

/* Cambia il colore di sfondo quando la checkbox è selezionata */
input[type="checkbox"]:checked + label {
    background-color: #B86BFF;
}