@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Inter');

/* sistemare colori e rappresentazione base delle pagine di registrazione e login*/

body{
    background-color: #3c096c;
}

h1{
    font-size: 70px;
    color: white;
    font-family:'Electrolize';
}

div[id="BlockBanner"]{
    color: #050301;
    background-color: #5a189a;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    height:40px;
    font-size: 21px;
    font-family: 'Inter';
    font-weight:300;
}

div[id="MainBlock"]{
    background-color: #9d4edd;
    border-radius: 10px;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.8);
}

.form-label{
    font-family: 'Inter';
    color: #050301;
}

.form-control{
    height: 60%;
}

a[id=PasswordLink]{
    color: #050301;
    text-decoration: none;
}

a[id=PasswordLink]:hover {
    text-decoration: underline;
}

.invalid-feedback{
    color: #8B0000;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #ced4da;
    padding-right: .75rem;
    background-image: none;
}

.invalid-feedback, .valid-feedback {
    height: 20px; 
}

div[id="error-message"]{
    color: #8B0000;
}

p{
    color:#001101;
    font-family: 'Inter';
}

#mainblock, #mainblock * {
    font-family: 'Inter', sans-serif;
}

/* Hide the default checkbox */
input[name="topic[]"] {
    display: none;
}

/* Create a custom checkbox */
input[name="topic[]"] + .form-check-label {
    padding: 9px;
    background-color: #ff7900;
    color: #050301;
    border-radius: 17px;
    cursor: pointer;
    display: inline-block;
    margin: 4px 1px;
    transition: background-color 0.8s ease;
}

/* Change the background color when mouse hovers over the custom checkbox */
input[name="topic[]"] + .form-check-label:hover {
    background-color: #ff7900;
}

/* Change the background color of the custom checkbox when it is checked */
input[name="topic[]"]:checked + .form-check-label {
    background-color: #2196F3;
}

#TopicList {
    border: 3px solid #7b2cbf; /* Change the color and width of the border */
    background-color: #a25add;
    padding: 8px; /* Add some space inside the border */
    border-radius: 10px; /* Round the corners of the border */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Add some shadow */
    max-height: 100px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

/* Style the scrollbar */
#TopicList::-webkit-scrollbar {
    width: 5px;
}

/* Style the scrollbar track */
#TopicList::-webkit-scrollbar-track {
    background: transparent;
}

/* Style the scrollbar thumb */
#TopicList::-webkit-scrollbar-thumb {
    background: #D3D3D3;
    border-radius: 15px;
}






/*Buttons*/

.btn-primary{
    background-color: #ff9e00;
    border-color:transparent;
    border:none;
    width: 40%;
    transition: background-color 0.5s ease;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.5);
    padding-top: 2px;
    color: #050301;
    text-rendering: optimizeLegibility;
}

.btn-primary:hover{
    background-color: #ff7900;
    border-color:transparent;
    border:none;
    color: #050301;
    text-rendering: optimizeLegibility;
}

.btn-primary:focus {
    outline: none;
}

.btn-primary:active{
    background-color: #ff7900;
    border-color:transparent;
    border:none;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.5);
}
a {
    color: transparent;
    outline: none; 
    font-weight: normal; 
}

a:focus {
    outline: none;
}

.btn-secondary{
    background-color: #7b2cbf;
    border-color:transparent;
    border:none;
    width: 40%;
    transition: background-color 0.5s ease;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.5);
    padding-top: 2px;
    color: #050301;
    text-rendering: optimizeLegibility;
}

.btn-secondary:hover{
    background-color: #5a189a;
    border-color:transparent;
    border:none;
    color: #050301;
    text-rendering: optimizeLegibility;
}

.btn-secondary:focus {
    outline: none;
}

.btn-secondary:active{
    background-color: #7b2cbf;
    border-color:transparent;
    border:none;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.5);
}
