
/*sistemare elementi specifici dell'accesso che potrebbero essere riutilizzati*/

div[id="MainBlock"]{
    background-color: bisque;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

